/* Саша,тут надо подумать, нужен ли нам глобальный стиль для всего приложения */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poller+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Сброс стандартных отступов и полей */
* {
    
    box-sizing: border-box;
  }
  h1{ font-size:x-large;}
  
  
  /* Устанавливаем стиль шрифта для всего приложения */
  body {
    font-family: Montserrat, sans-serif;
    color: #333; /* Основной цвет текста */
    line-height: 1.6;
  }
  
  /* Контейнер для выравнивания содержимого по центру */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .checked {
    color: orange;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.fancy-button {
  border: none;
  color: #ffffff;
  font-weight: 400;
  background-image: linear-gradient(30deg, #52e0f6, #44a9b6);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  transition: background-size 0.3s, background-position 0.3s;
}

.fancy-button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }
  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.hea{
  font-size: 40px;
}

/* From Uiverse.io by WhiteNervosa */
.button-fancy1 {
  font-size: 18px;
  color: #0e0909;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: lowercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button-fancy1:focus,
button:hover {
  color: #0c0808;
}

.button-fancy1:focus:after,
.button-fancy1:hover:after {
  width: 100%;
  left: 0%;
}

.button-fancy1:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #130e0e;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Контейнер для всей пагинации */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

/* Общий стиль для кнопок */
.pagination-button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  margin: 0 0.25rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

/* Ховер эффект для кнопок */
.pagination-button:hover {
  background-color: #f5f5f5;
}

/* Активная кнопка */
.pagination-button.active {
  background-color: #ff7043;
  color: white;
  font-weight: bold;
}

/* Деактивированные кнопки */
.pagination-button.disabled {
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Закругленные углы для кнопок "Prev" и "Next" */
.pagination-button.prev {
  border-radius: 15px 0 0 15px;
}

.pagination-button.next {
  border-radius: 0 15px 15px 0;
}
.profile-button {
  border: none;
  color: #ffffff;
  font-weight: 400;
  background-image: linear-gradient(30deg, #cadce1, #6eceda);
  border-radius: 40px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  transition: background-size 0.3s, background-position 0.3s;
}
.profile-button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse512 1.5s infinite;
}

.red-button {
  border: none;
  color: #ffffff;
  font-weight: 400;
  background-image: linear-gradient(30deg, #a56262, #aa1313);
  border-radius: 10px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  transition: background-size 0.3s, background-position 0.3s;
}
.red-button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse512 1.5s infinite;
}
.green-button {
  border: none;
  color: #ffffff;
  font-weight: 400;
  background-image: linear-gradient(30deg, #35aa1e, #17ba25);
  border-radius: 10px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  transition: background-size 0.3s, background-position 0.3s;
}
.green-button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse512 1.5s infinite;
}



  
  
